@model CustomerManagement.Models.Customer
<div>
    <h1>This is my partil view</h1>
</div>
<table>
    <tr>
        <td>CusotmerID</td>
        <td>@Model.CustId</td>        
    </tr>
    <tr>
        <td>Customer Name</td>
        <td>@Model.CustName</td>
    </tr>
    <tr>
        <td>
            CustomerAddress
        </td>
        <td>
            @Model.CustAddress
        </td>
    </tr>
</table>